@mixin transparent1 {
   background: linear-gradient(to left top, var(--primary1), var(--seconday1));
}

@mixin transparent2 {
   background: linear-gradient(to left top, var(--primary2), var(--seconday2));
}

// static
@mixin d-flex-c-c {
   display: flex;
   justify-content: center;
   align-items: center;
}

// dynamic
@mixin d-flex($justify, $align) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
}

@mixin boxShadow1 {
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
}